@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);















body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Lato', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Lato', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Raleway', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Raleway', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Raleway', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #31b7bc !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #0e374e !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #31b7bc;
  border-color: #31b7bc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #217c7f;
  border-color: #217c7f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #217c7f !important;
  border-color: #217c7f !important;
}
.btn-secondary {
  background-color: #31b7bc;
  border-color: #31b7bc;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #217c7f;
  border-color: #217c7f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #217c7f !important;
  border-color: #217c7f !important;
}
.btn-info {
  background-color: #0e374e;
  border-color: #0e374e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #02090d;
  border-color: #02090d;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #02090d !important;
  border-color: #02090d !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #1c686b;
  color: #1c686b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #31b7bc;
  border-color: #31b7bc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #31b7bc !important;
  border-color: #31b7bc !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #1c686b;
  color: #1c686b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #31b7bc;
  border-color: #31b7bc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #31b7bc !important;
  border-color: #31b7bc !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0e374e;
  border-color: #0e374e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0e374e !important;
  border-color: #0e374e !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #31b7bc !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #0e374e !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #0e374e;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #31b7bc;
}
.btn-social:hover {
  background: #31b7bc;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #31b7bc;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #31b7bc;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #31b7bc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #31b7bc;
}
.lead a,
.lead a:hover {
  color: #31b7bc;
}
.lead blockquote {
  border-color: #31b7bc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8cdee1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #5fb3e2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #31b7bc;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Raleway', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Raleway', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Raleway', sans-serif;
}
.features6 .description {
  font-family: 'Lato', sans-serif;
}
.count,
.counter-title {
  font-family: 'Raleway', sans-serif;
}
.counter-subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #31b7bc;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Raleway', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Raleway', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Raleway', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Raleway', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Raleway', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Raleway', sans-serif;
}
.extHeader13 .number {
  font-family: 'Raleway', sans-serif;
}
.extHeader13 .period {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Raleway', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Raleway', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Lato', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Raleway', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #31b7bc;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Raleway', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Raleway', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Raleway', sans-serif;
}
.extForm2 .container p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #31b7bc;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #31b7bc;
}
.extCounters2 h4 {
  font-family: 'Raleway', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Raleway', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Raleway', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #31b7bc;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #31b7bc;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #31b7bc;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #31b7bc;
}
.extAccordion1 .panel-heading a {
  font-family: 'Lato', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #31b7bc;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Lato', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #31b7bc;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #31b7bc;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #31b7bc;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Raleway', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Raleway', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Raleway', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Raleway', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #31b7bc !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #31b7bc;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #31b7bc;
}
.theme-border {
  border: 1px solid #31b7bc;
}
#ext_menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1 .navbar-caption {
  color: #ffffff;
}
#ext_menu-1 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1 .close-icon::before,
#ext_menu-1 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1 .link,
#ext_menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#ext_menu-1 .link {
  font-size: 0.8rem;
}
#ext_menu-1 .dropdown-item,
#ext_menu-1 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1 .link:hover,
#ext_menu-1 .dropdown-item:hover,
#ext_menu-1 .link:focus,
#ext_menu-1 .dropdown-item:focus {
  color: #31b7bc;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-menu {
  background: #269094;
}
#ext_menu-1 .nav-dropdown-sm .link:focus,
#ext_menu-1 .nav-dropdown-sm .link:hover,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #2eabb0!important;
}
#ext_menu-1 .navbar,
#ext_menu-1 .nav-dropdown-sm,
#ext_menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #31b7bc;
}
#ext_menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1 .bg-color.transparent.opened .link:hover,
#ext_menu-1 .bg-color.transparent.opened .link:focus {
  color: #31b7bc;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-item[aria-expanded="true"] {
  color: #31b7bc!important;
}
#ext_menu-1 .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-1 .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0.1rem 0;
}
#ext_menu-1 .navbar-dropdown {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-1 .navbar-dropdown.navbar-short {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-1 .navbar-dropdown.navbar-short .navbar-brand img {
  height: 2.5rem;
}
#ext_menu-1 .nav-item a:hover {
  color: #0e374e;
}
#ext_menu-1 .nav-item a {
  color: #fff;
}
#header1-6t .mbr-section-title {
  font-size: 72px;
}
#header1-6t .mbr-section-lead {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#header1-6t .mbr-arrow a {
  background: #31b7bc;
  border-radius: 35px;
  height: 70px;
  width: 70px;
  padding-top: 15px;
}
#header1-6t .mbr-arrow-floating a {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#msg-box3-59 .mbr-section-title,
#msg-box3-59 p {
  color: #000;
}
#msg-box3-59 .lead P {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}
#msg-box3-59 .mbr-section-title {
  color: #0e374e;
}
#features3-i H5 {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #000000;
}
#features3-i H4 {
  color: #0e374e;
}
#features3-i h5 {
  font-weight: 300;
}
#features3-i .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#msg-box4-3n H3 {
  font-size: 46px;
  color: #ffffff;
}
#msg-box4-3n P {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #ffffff;
}
#header3-5r .mbr-section-title,
#header3-5r .mbr-section-subtitle {
  text-align: center;
}
#header3-5r H3 {
  color: #0e374e;
  font-size: 46px;
}
#content1-5q P {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#extFeatures13-5c .etl-icon {
  color: #ffffff;
}
#extFeatures13-5c H4 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
#extFeatures13-5c P {
  color: #0e374e;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#extFeatures13-5c .date P {
  font-family: 'Lato', sans-serif;
  color: #31b7bc;
  font-size: 22px;
}
#extFeatures13-5c .date B {
  font-size: 22px;
  color: #31b7bc;
}
#extFeatures13-5c .mbr-section-title {
  color: #0e374e;
}
#extFeatures13-5c SPAN {
  font-size: 17px;
  color: #ffffff;
}
#extFeatures13-5c .iconBackground {
  background-color: #ffffff;
  border: 3px solid #31b7bc;
}
#extFeatures13-5c .timeline-panel {
  background-color: #31b7bc;
}
#extFeatures13-5c .timeline-panel::before {
  border-left: 15px solid rgba(0, 0, 0, 0);
}
#extFeatures13-5c .title_wrapper {
  border-radius: 30px;
  background-color: #fff;
  border: 3px solid #31b7bc;
}
#extFeatures13-5c .iconBackgroundInverse {
  background-color: #fff;
  border: 3px solid #31b7bc;
}
#extFeatures13-5c .icon {
  font-weight: bold;
}
#extFeatures13-5c .separline::before {
  background-color: #0e374e;
  width: 3px;
}
#header3-l .mbr-section-title,
#header3-l .mbr-section-subtitle {
  text-align: center;
}
#header3-l H3 {
  font-size: 46px;
  color: #ffffff;
}
#header3-l SMALL {
  color: #ffffff;
  font-size: 16px;
}
#features3-68 H4 {
  color: #ffffff;
}
#features3-68 P {
  color: #ffffff;
}
#features3-68 .mbr-cards-row {
  padding-left: 15%;
  padding-right: 15%;
}
#features3-68 .card {
  border: #fff solid 8px;
}
#msg-box3-6b .mbr-section-title,
#msg-box3-6b p {
  color: #000;
}
#msg-box3-6b .mbr-section-title {
  color: #0e374e;
  font-size: 46px;
}
#msg-box3-6b .lead P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-6b .lead {
  color: #000000;
  font-family: 'Lato', sans-serif;
}
#content7-6a P {
  font-family: 'Lato', sans-serif;
}
#image2-7j figcaption {
  color: red;
  background-color: red;
}
#footer1-2u P {
  color: #ffffff;
}
#footer1-2u B {
  color: #ffffff;
}


















#ext_menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-p .navbar-caption {
  color: #ffffff;
}
#ext_menu-p .navbar-toggler {
  color: #ffffff;
}
#ext_menu-p .close-icon::before,
#ext_menu-p .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-p .link,
#ext_menu-p .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#ext_menu-p .link {
  font-size: 0.8rem;
}
#ext_menu-p .dropdown-item,
#ext_menu-p .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-p .link:hover,
#ext_menu-p .dropdown-item:hover,
#ext_menu-p .link:focus,
#ext_menu-p .dropdown-item:focus {
  color: #31b7bc;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-menu {
  background: #269094;
}
#ext_menu-p .nav-dropdown-sm .link:focus,
#ext_menu-p .nav-dropdown-sm .link:hover,
#ext_menu-p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #2eabb0!important;
}
#ext_menu-p .navbar,
#ext_menu-p .nav-dropdown-sm,
#ext_menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-p .nav-dropdown-sm .dropdown-menu {
  background: #31b7bc;
}
#ext_menu-p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-p .bg-color.transparent.opened .link:hover,
#ext_menu-p .bg-color.transparent.opened .link:focus {
  color: #31b7bc;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-item[aria-expanded="true"] {
  color: #31b7bc!important;
}
#ext_menu-p .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-p .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0.1rem 0;
}
#ext_menu-p .navbar-dropdown {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-p .navbar-dropdown.navbar-short {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-p .navbar-dropdown.navbar-short .navbar-brand img {
  height: 2.5rem;
}
#ext_menu-p .nav-item a:hover {
  color: #0e374e;
}
#header1-7a .mbr-section-title {
  font-size: 72px;
}
#header1-7a .mbr-section-lead {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#header1-7a .mbr-arrow a {
  background: #31b7bc;
  border-radius: 35px;
  height: 70px;
  width: 70px;
  padding-top: 15px;
}
#header1-7a .mbr-arrow-floating a {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#msg-box4-2y H3 {
  font-size: 46px;
  text-align: center;
  color: #0e374e;
}
#msg-box4-2y P {
  font-family: 'Lato', sans-serif;
}
#msg-box4-5k H3 {
  font-size: 46px;
  color: #ffffff;
}
#msg-box4-5k P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#msg-box4-5k .btn {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#msg-box4-5k .btn:hover {
  background-color: #0e374e;
  border: #0e374e;
}
#content6-4d H3 {
  font-size: 30px;
  color: #0e374e;
}
#content6-4d .container {
  padding-left: 5%;
  padding-right: 5%;
}
#content6-2w H2 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}
#content6-2w P {
  font-size: 17px;
}
#content6-2w .container {
  padding-left: 5%;
  padding-right: 5%;
}
#content6-2w .lead h2 {
  letter-spacing: 0px;
  line-height: 1;
}
#content6-2w .lead p {
  letter-spacing: 0px;
  line-height: 1.75;
}
#features3-2x H4 {
  color: #0e374e;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
#features3-2x .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#msg-box4-1d H3 {
  font-size: 46px;
  color: #ffffff;
}
#msg-box4-1d P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#header3-4p .mbr-section-title,
#header3-4p .mbr-section-subtitle {
  text-align: center;
}
#header3-4p SMALL {
  color: #0e374e;
  font-size: 22px;
}
#header3-4p H3 {
  color: #0e374e;
}
#features3-4o H4 {
  color: #0e374e;
  font-family: 'Raleway', sans-serif;
}
#features3-4o P {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}
#features3-4o .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#features3-4o p {
  font-weight: 300;
}
#msg-box4-1g H3 {
  font-size: 46px;
  color: #ffffff;
}
#msg-box4-1g P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#msg-box4-3w P {
  font-family: 'Lato', sans-serif;
}
#msg-box4-3w H3 {
  font-size: 30px;
  color: #0e374e;
}
#msg-box4-3x P {
  font-family: 'Lato', sans-serif;
}
#msg-box4-3x H3 {
  font-size: 30px;
  color: #0e374e;
}
#extTestimonials4-5e .card-block p {
  font-size: 15px;
}
#extTestimonials4-5e .card-footer > div {
  color: #ffffff;
  font-size: 22px;
}
#extTestimonials4-5e .card-footer > small {
  font-size: 16px;
  color: #ffffff;
}
#extTestimonials4-5e .card-block {
  font-size: 15px;
}
#extTestimonials4-5e .card-block {
  background-color: white;
}
#extTestimonials4-5e li {
  background-color: #31b7bc;
  opacity: 1;
  border: 2px solid #fff;
}
#extTestimonials4-5e li.active {
  border: 0px;
  background-color: white;
}
#header3-40 .mbr-section-title,
#header3-40 .mbr-section-subtitle {
  text-align: center;
}
#header3-40 H3 {
  color: #0e374e;
}
#content6-3z P {
  font-family: 'Lato', sans-serif;
  color: #000000;
}
#header3-7d .mbr-section-title,
#header3-7d .mbr-section-subtitle {
  text-align: center;
}
#header3-7d H3 {
  font-size: 46px;
  color: #ffffff;
}
#header3-7d SMALL {
  color: #ffffff;
  font-size: 16px;
}
#features3-7c H4 {
  color: #ffffff;
}
#features3-7c P {
  color: #ffffff;
}
#features3-7c .mbr-cards-row {
  padding-left: 15%;
  padding-right: 15%;
}
#features3-7c .card {
  border: #fff solid 8px;
}
#msg-box3-6e .mbr-section-title,
#msg-box3-6e p {
  color: #000;
}
#msg-box3-6e .mbr-section-title {
  color: #0e374e;
  font-size: 46px;
}
#msg-box3-6e .lead P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-6e .lead {
  color: #000000;
  font-family: 'Lato', sans-serif;
}
#extFeatures1-6c .mbr-section-title {
  color: #0e374e;
  font-size: 46px;
}
#extFeatures1-6c .mbr-section-subtitle {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#extFeatures1-6c .feature-subtitle {
  color: #ffffff;
}
#extFeatures1-6c P {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  color: #000000;
}
#extFeatures1-6c DIV {
  color: #0e374e;
}
#extFeatures1-6c span.mbr-iconfont-features6 {
  width: 15px;
}
#extFeatures1-6c p {
  font-weight: 300;
}
#footer1-x P {
  color: #ffffff;
}
#footer1-x B {
  color: #ffffff;
}













#ext_menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1l .navbar-caption {
  color: #ffffff;
}
#ext_menu-1l .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1l .close-icon::before,
#ext_menu-1l .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1l .link,
#ext_menu-1l .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#ext_menu-1l .link {
  font-size: 0.8rem;
}
#ext_menu-1l .dropdown-item,
#ext_menu-1l .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1l .link:hover,
#ext_menu-1l .dropdown-item:hover,
#ext_menu-1l .link:focus,
#ext_menu-1l .dropdown-item:focus {
  color: #31b7bc;
}
#ext_menu-1l .link[aria-expanded="true"],
#ext_menu-1l .dropdown-menu {
  background: #269094;
}
#ext_menu-1l .nav-dropdown-sm .link:focus,
#ext_menu-1l .nav-dropdown-sm .link:hover,
#ext_menu-1l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #2eabb0!important;
}
#ext_menu-1l .navbar,
#ext_menu-1l .nav-dropdown-sm,
#ext_menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #31b7bc;
}
#ext_menu-1l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1l .bg-color.transparent.opened .link:hover,
#ext_menu-1l .bg-color.transparent.opened .link:focus {
  color: #31b7bc;
}
#ext_menu-1l .link[aria-expanded="true"],
#ext_menu-1l .dropdown-item[aria-expanded="true"] {
  color: #31b7bc!important;
}
#ext_menu-1l .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-1l .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0.1rem 0;
}
#ext_menu-1l .navbar-dropdown {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-1l .navbar-dropdown.navbar-short {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-1l .navbar-dropdown.navbar-short .navbar-brand img {
  height: 2.5rem;
}
#ext_menu-1l .nav-item a:hover {
  color: #0e374e;
}
#header1-7e .mbr-section-title {
  font-size: 72px;
}
#header1-7e .mbr-section-lead {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#header1-7e .mbr-arrow a {
  background: #31b7bc;
  border-radius: 35px;
  height: 70px;
  width: 70px;
  padding-top: 15px;
}
#header1-7e .mbr-arrow-floating a {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#msg-box4-1v H3 {
  font-size: 46px;
  color: #0e374e;
}
#msg-box4-1v P {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
#msg-box4-1q H3 {
  font-size: 46px;
  color: #ffffff;
}
#msg-box4-1q P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#content7-3k P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#header3-1x SMALL {
  font-family: 'Raleway', sans-serif;
  text-align: right;
}
#header3-1x SPAN {
  color: #000000;
}
#header3-1x H3 {
  font-size: 46px;
  color: #0e374e;
}
#features3-1w H4 {
  color: #0e374e;
  font-size: 22px;
}
#features3-1w P {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}
#features3-1w p {
  font-weight: 300;
}
#features3-1w .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#msg-box3-81 .mbr-section-title,
#msg-box3-81 p {
  color: #000;
}
#msg-box3-81 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#msg-box3-81 .lead P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-81 .lead {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#gallery4-82 .mbr-gallery-row {
  margin-left: 10%;
  margin-right: 10%;
}
#gallery4-82 .mbr-gallery-filter li {
  background-color: white;
  border-color: #1ac2c6;
}
#gallery4-82 .mbr-gallery-filter li.active {
  color: #1ac2c6;
}
#msg-box3-6m .mbr-section-title,
#msg-box3-6m p {
  color: #000;
}
#msg-box3-6m .mbr-section-title {
  color: #0e374e;
  font-size: 46px;
}
#msg-box3-6m .lead P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-6m .lead {
  color: #000000;
  font-family: 'Lato', sans-serif;
}
#extFeatures1-6k .mbr-section-title {
  color: #0e374e;
  font-size: 46px;
}
#extFeatures1-6k .mbr-section-subtitle {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#extFeatures1-6k .feature-subtitle {
  color: #ffffff;
}
#extFeatures1-6k P {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  color: #000000;
}
#extFeatures1-6k DIV {
  color: #0e374e;
}
#extFeatures1-6k span.mbr-iconfont-features6 {
  width: 15px;
}
#extFeatures1-6k p {
  font-weight: 300;
}
#footer1-1u P {
  color: #ffffff;
}
#footer1-1u B {
  color: #ffffff;
}

















#ext_menu-2j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2j .navbar-caption {
  color: #ffffff;
}
#ext_menu-2j .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2j .close-icon::before,
#ext_menu-2j .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2j .link,
#ext_menu-2j .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#ext_menu-2j .link {
  font-size: 0.8rem;
}
#ext_menu-2j .dropdown-item,
#ext_menu-2j .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-2j .link:hover,
#ext_menu-2j .dropdown-item:hover,
#ext_menu-2j .link:focus,
#ext_menu-2j .dropdown-item:focus {
  color: #31b7bc;
}
#ext_menu-2j .link[aria-expanded="true"],
#ext_menu-2j .dropdown-menu {
  background: #269094;
}
#ext_menu-2j .nav-dropdown-sm .link:focus,
#ext_menu-2j .nav-dropdown-sm .link:hover,
#ext_menu-2j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2j .nav-dropdown-sm .dropdown-item:hover {
  background: #2eabb0!important;
}
#ext_menu-2j .navbar,
#ext_menu-2j .nav-dropdown-sm,
#ext_menu-2j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2j .nav-dropdown-sm .dropdown-menu {
  background: #31b7bc;
}
#ext_menu-2j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2j .bg-color.transparent.opened .link:hover,
#ext_menu-2j .bg-color.transparent.opened .link:focus {
  color: #31b7bc;
}
#ext_menu-2j .link[aria-expanded="true"],
#ext_menu-2j .dropdown-item[aria-expanded="true"] {
  color: #31b7bc!important;
}
#ext_menu-2j .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-2j .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0.1rem 0;
}
#ext_menu-2j .navbar-dropdown {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-2j .navbar-dropdown.navbar-short {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-2j .navbar-dropdown.navbar-short .navbar-brand img {
  height: 2.5rem;
}
#ext_menu-2j .nav-item a:hover {
  color: #0e374e;
}
#header1-7f .mbr-section-title {
  font-size: 72px;
}
#header1-7f .mbr-section-lead {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#header1-7f .mbr-arrow a {
  background: #31b7bc;
  border-radius: 35px;
  height: 70px;
  width: 70px;
  padding-top: 15px;
}
#header1-7f .mbr-arrow-floating a {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#header3-5v .mbr-section-title,
#header3-5v .mbr-section-subtitle {
  text-align: center;
}
#header3-5v H3 {
  text-align: right;
  color: #0e374e;
  font-size: 46px;
}
#content1-5w P {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #0e374e;
}
#extFeatures1-5x .mbr-section-title {
  color: #fff;
  font-size: 46px;
}
#extFeatures1-5x .mbr-section-subtitle {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#extFeatures1-5x .feature-subtitle {
  color: #ffffff;
}
#extFeatures1-5x P {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
#extFeatures1-5x span.mbr-iconfont-features6 {
  width: 15px;
}
#extFeatures1-5x .mbr-section-subtitle {
  font-weight: 300;
}
#extFeatures1-5x p {
  font-weight: 300;
}
#header3-43 .mbr-section-title,
#header3-43 .mbr-section-subtitle {
  text-align: center;
}
#header3-43 H3 {
  font-size: 46px;
  color: #0e374e;
}
#content1-67 P {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #0e374e;
}
#features3-3v H4 {
  color: #0e374e;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
#features3-3v H5 {
  text-align: center;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  color: #000000;
}
#features3-3v .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#features3-3v h5 {
  font-weight: 300;
}
#header3-4y .mbr-section-title,
#header3-4y .mbr-section-subtitle {
  text-align: center;
}
#header3-4y H3 {
  font-size: 46px;
  color: #ffffff;
}
#content6-4z P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#features3-4v H4 {
  color: #ffffff;
  font-size: 22px;
}
#features3-4v P {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #ffffff;
}
#features3-4v SPAN {
  font-size: 25px;
}
#features3-4v .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#features3-4v p {
  font-weight: 300;
}
#header3-3s .mbr-section-title,
#header3-3s .mbr-section-subtitle {
  text-align: center;
}
#header3-3s H3 {
  text-align: right;
  color: #0e374e;
  font-size: 46px;
}
#content1-5u P {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#features3-2o H4 {
  color: #0e374e;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
#features3-2o .mbr-cards-row {
  padding-left: 10%;
  padding-right: 10%;
}
#msg-box3-65 .mbr-section-title,
#msg-box3-65 p {
  color: #000;
}
#msg-box3-65 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#msg-box3-65 .lead P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-65 .lead {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#features3-7g H4 {
  color: #ffffff;
}
#features3-7g P {
  color: #ffffff;
}
#features3-7g .mbr-cards-row {
  padding-left: 15%;
  padding-right: 15%;
}
#features3-7g .card {
  border: #fff solid 8px;
}
#msg-box3-66 .mbr-section-title,
#msg-box3-66 p {
  color: #000;
}
#msg-box3-66 .mbr-section-title {
  color: #0e374e;
  font-size: 46px;
}
#msg-box3-66 .lead P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-66 .lead {
  color: #000000;
  font-family: 'Lato', sans-serif;
}
#msg-box5-48 H3 {
  font-size: 30px;
  color: #0e374e;
}
#msg-box5-48 P {
  font-family: 'Lato', sans-serif;
  color: #000000;
}
#msg-box5-4a H3 {
  font-size: 32px;
  color: #0e374e;
}
#msg-box5-4a P {
  color: #000000;
}
#msg-box5-4b H3 {
  font-size: 32px;
  color: #0e374e;
}
#msg-box5-4b P {
  color: #000000;
}
#msg-box5-4c H3 {
  font-size: 32px;
  color: #0e374e;
}
#msg-box5-4c P {
  color: #000000;
}
#footer1-2u P {
  color: #ffffff;
}
#footer1-2u B {
  color: #ffffff;
}

#ext_menu-7k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7k .navbar-caption {
  color: #ffffff;
}
#ext_menu-7k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7k .close-icon::before,
#ext_menu-7k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7k .link,
#ext_menu-7k .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#ext_menu-7k .link {
  font-size: 0.8rem;
}
#ext_menu-7k .dropdown-item,
#ext_menu-7k .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-7k .link:hover,
#ext_menu-7k .dropdown-item:hover,
#ext_menu-7k .link:focus,
#ext_menu-7k .dropdown-item:focus {
  color: #31b7bc;
}
#ext_menu-7k .link[aria-expanded="true"],
#ext_menu-7k .dropdown-menu {
  background: #269094;
}
#ext_menu-7k .nav-dropdown-sm .link:focus,
#ext_menu-7k .nav-dropdown-sm .link:hover,
#ext_menu-7k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7k .nav-dropdown-sm .dropdown-item:hover {
  background: #2eabb0!important;
}
#ext_menu-7k .navbar,
#ext_menu-7k .nav-dropdown-sm,
#ext_menu-7k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7k .nav-dropdown-sm .dropdown-menu {
  background: #31b7bc;
}
#ext_menu-7k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7k .bg-color.transparent.opened .link:hover,
#ext_menu-7k .bg-color.transparent.opened .link:focus {
  color: #31b7bc;
}
#ext_menu-7k .link[aria-expanded="true"],
#ext_menu-7k .dropdown-item[aria-expanded="true"] {
  color: #31b7bc!important;
}
#ext_menu-7k .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-7k .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0.1rem 0;
}
#ext_menu-7k .navbar-dropdown {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-7k .navbar-dropdown.navbar-short {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-7k .navbar-dropdown.navbar-short .navbar-brand img {
  height: 2.5rem;
}
#ext_menu-7k .nav-item a:hover {
  color: #0e374e;
}
#footer1-7l P {
  color: #ffffff;
}
#footer1-7l B {
  color: #ffffff;
}
#header3-7o .mbr-section-title,
#header3-7o .mbr-section-subtitle {
  text-align: center;
}
#header3-7o H3 {
  color: #0e374e;
  font-size: 46px;
}
#header3-7o SMALL {
  color: #0e374e;
  font-size: 20px;
}
#content1-7r P {
  text-align: center;
}
#msg-box3-7m .mbr-section-title,
#msg-box3-7m p {
  color: #000;
}
#msg-box3-7m .mbr-section-title {
  color: #ffffff;
  font-size: 30px;
}
#msg-box3-7m .lead P {
  color: #ffffff;
}
#msg-box3-7m .lead p {
  margin-top: 0.5rem;
}
#extForm1-7s .mbr-figure {
  padding-top: 150px;
}

#ext_menu-7t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7t .navbar-caption {
  color: #ffffff;
}
#ext_menu-7t .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7t .close-icon::before,
#ext_menu-7t .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7t .link,
#ext_menu-7t .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#ext_menu-7t .link {
  font-size: 0.8rem;
}
#ext_menu-7t .dropdown-item,
#ext_menu-7t .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-7t .link:hover,
#ext_menu-7t .dropdown-item:hover,
#ext_menu-7t .link:focus,
#ext_menu-7t .dropdown-item:focus {
  color: #31b7bc;
}
#ext_menu-7t .link[aria-expanded="true"],
#ext_menu-7t .dropdown-menu {
  background: #269094;
}
#ext_menu-7t .nav-dropdown-sm .link:focus,
#ext_menu-7t .nav-dropdown-sm .link:hover,
#ext_menu-7t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7t .nav-dropdown-sm .dropdown-item:hover {
  background: #2eabb0!important;
}
#ext_menu-7t .navbar,
#ext_menu-7t .nav-dropdown-sm,
#ext_menu-7t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7t .nav-dropdown-sm .dropdown-menu {
  background: #31b7bc;
}
#ext_menu-7t .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7t .bg-color.transparent.opened .link:hover,
#ext_menu-7t .bg-color.transparent.opened .link:focus {
  color: #31b7bc;
}
#ext_menu-7t .link[aria-expanded="true"],
#ext_menu-7t .dropdown-item[aria-expanded="true"] {
  color: #31b7bc!important;
}
#ext_menu-7t .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-7t .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0.1rem 0;
}
#ext_menu-7t .navbar-dropdown {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-7t .navbar-dropdown.navbar-short {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#ext_menu-7t .navbar-dropdown.navbar-short .navbar-brand img {
  height: 2.5rem;
}
#ext_menu-7t .nav-item a:hover {
  color: #0e374e;
}
#footer1-7u P {
  color: #ffffff;
}
#footer1-7u B {
  color: #ffffff;
}
#header3-7v .mbr-section-title,
#header3-7v .mbr-section-subtitle {
  text-align: center;
}
#header3-7v H3 {
  color: #0e374e;
  font-size: 46px;
}
#header3-7v SMALL {
  color: #0e374e;
  font-size: 20px;
}
